/*
  Add more custom css here
 */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

.main {
  min-height: 100%;
  overflow-x: hidden;
}

:root {
  --shiki-color-text: #a6accd; /* Basic Text */
  --shiki-color-background: #292d3e; /* Background */
  --shiki-token-constant: #ff5370; /* Constants like numbers */
  --shiki-token-string: #c3e88d; /* String Text */
  --shiki-token-comment: #676e95; /* Comments */
  --shiki-token-keyword: #c792ea; /* Keywords like 'if', 'else' */
  --shiki-token-parameter: #ffcb6b; /* Parameters in function */
  --shiki-token-function: #82aaff; /* Function names */
  --shiki-token-string-expression: #c3e88d; /* String within expressions */
  --shiki-token-punctuation: #89ddff; /* Punctuation like , . ; */
  --shiki-token-link: #80cbc4; /* Links if any */
  --shiki-title-background: #202338;
}

:root[data-theme='light'] {
  --shiki-color-text: #24292e; /* Basic Text */
  --shiki-color-background: #fff7f3; /* Background */
  --shiki-token-constant: #005cc5; /* Constants like numbers */
  --shiki-token-string: #032f62; /* String Text */
  --shiki-token-comment: #6a737d; /* Comments */
  --shiki-token-keyword: #d73a49; /* Keywords like 'if', 'else' */
  --shiki-token-parameter: #6f42c1; /* Parameters in function */
  --shiki-token-function: #005cc5; /* Function names */
  --shiki-token-string-expression: #032f62; /* String within expressions */
  --shiki-token-punctuation: #24292e; /* Punctuation like , . ; */
  --shiki-token-link: #005cc5; /* Links if any */
  --shiki-title-background: #fcece5;
}

[data-rehype-pretty-code-fragment] > div > pre,
code {
  margin-top: 0;
  margin-bottom: 0;
  @apply rounded-t-md;
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}

[data-rehype-pretty-code-fragment] > [data-rehype-pretty-code-title] {
  padding: 0.5rem 1rem;
  background-color: var(--shiki-title-background);
  font-size: 0.85rem;
  @apply rounded-t-md text-accent border-b border-accent;
}

.copy-code {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--shiki-title-background);
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  @apply text-accent-focus h-9 w-9 rounded-md;
}

.copy-code:hover {
  background-color: var(--shiki-title-background);
  @apply text-accent;
}

[data-rehype-pretty-code-fragment]:hover .copy-code {
  display: block;
}
