---
import type { MetaSEO } from '@/types'
import Layout from '@/layouts/DefaultLayout.astro'

const meta: MetaSEO = {
  title: '404 - Page Not Found',
  description:
    "I'm sorry, but the page you were looking for could not be found.",
  image: '/404-xqsit94.png'
}
---

<Layout meta={meta}>
  <div class='flex items-center justify-center h-screen'>
    <div class='text-center'>
      <h1 class='text-4xl font-bold text-accent'>404</h1>

      <h6 class='font-bold md:text-3xl'>
        <span class='text-red-500'>Oops!</span> Page not found
      </h6>

      <p class='mt-2'>
        I'm sorry, but the page you were looking for could not be found.
      </p>

      <a href='/' class='btn btn-primary mt-2'>Go Home</a>
    </div>
  </div>
</Layout>
