---
import Layout from '~/layouts/Default.astro';
import ExperienceTimeline from "~/components/home/ExperienceTimeline.astro";
import HeroSection from "~/components/home/HeroSection.astro";
import SkillsSection from "~/components/home/SkillsSection.astro";
import RecentPosts from "~/components/home/RecentPosts.astro";

const meta = {
  title: 'Manikandan B (xqsit94) | Full Stack Web Developer',
  description: 'I am a full-stack web developer from India with a passion for crafting exceptional web experience.',
  image: '/xqsit94-about.png',
};
---

<Layout {meta}>
  <div class="snap-y snap-mandatory h-screen w-screen overflow-scroll">
    <HeroSection />
    <ExperienceTimeline />
    <SkillsSection />
    <RecentPosts />
  </div>
</Layout>
