---
import Layout from "~/layouts/Default.astro";
---

<Layout>
	<section
		class="h-screen flex align-center justify-center items-center relative"
	>
		<div class="hero-content">
			<div class="flex flex-col md:flex-row justify-between">
				<div class="w-full md:w-1/2">
					<h1
						class="text-4xl md:text-5xl lg:text-6xl xl:text-8xl font-bold"
					>
						Hi 👋 I'm<div
							class="block md:inline-block pl-2 lg:pl-0 text-accent"
						>
							Manikandan.
						</div>
					</h1>
					<p
						class="py-2 md:py-6 text-2xl xl:text-[2rem] xl:leading-[54px] tracking-[-0.3px]"
					>
						A modern full-stack web developer
					</p>
					<p
						class="py-2 md:py-6 text-2xl xl:text-[2rem] xl:leading-[54px] tracking-[-0.3px]"
					>
						with a passion for crafting exceptional web experience.
					</p>
				</div>
				<div class="w-full md:w-1/2">
					<!-- Placeholder Image -->
					<img
						src="https://via.placeholder.com/500"
						alt="Placeholder Image"
						class="w-full"
					/>
				</div>
			</div>
		</div>
	</section>
</Layout>
