---
import {findLatestPosts} from "~/utils/blog";
import PostCard from "~/components/blogs/PostCard.astro";
import type { Post } from "~/types";

const latestPosts = await findLatestPosts({ count: 3 });
---

<section class="md:h-screen border-t-2 border-accent flex justify-center items-center bg-info-content/10">
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center">
      <h1 class="text-5xl font-bold uppercase -mx-4 mt-12 mb-5">Recent Posts</h1>
      <section class="p-5 mt-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10 place-content-center">
          {
            latestPosts.map((post: Post) => (
              <PostCard
                category={post.category!}
                title={post.title}
                description={post.description!}
                image={post.heroImage}
                slug={post.slug}
              />
            ))
          }
        </div>
      </section>
      <a href="/blog/" class="btn btn-outline btn-wide items-center mt-5 mb-12">More Posts</a>
    </div>
    
  </div>
</section>
