---
import { Icon } from 'astro-icon/components'

const skills: {
  name: string
  icon: string
}[] = [
  {
    name: 'JavaScript',
    icon: 'devicon:javascript'
  },
  {
    name: 'TypeScript',
    icon: 'devicon:typescript'
  },
  {
    name: 'Vue.js',
    icon: 'devicon:vuejs'
  },
  {
    name: 'React.js',
    icon: 'devicon:react'
  },
  {
    name: 'Laravel',
    icon: 'devicon:laravel'
  },
  {
    name: 'Adonisjs',
    icon: 'devicon:adonisjs'
  },
  {
    name: 'Node.js',
    icon: 'devicon:nodejs'
  },
  {
    name: 'PHP',
    icon: 'devicon:php'
  },
  {
    name: 'Spring Boot',
    icon: 'devicon:spring'
  },
  {
    name: 'Tailwind CSS',
    icon: 'devicon:tailwindcss'
  },
  {
    name: 'SASS',
    icon: 'devicon:sass'
  },
  {
    name: 'Figma',
    icon: 'devicon:figma'
  }
]
---

<section
  class='md:h-screen border-t-2 border-accent flex justify-center items-center bg-neutral-content/10'
>
  <div class='lg:pb-16'>
    <div class='container mx-auto lg:pt-16'>
      <div class='w-11/12 xl:w-2/3 lg:w-2/3 md:w-2/3 mx-auto lg:mb-16'>
        <h1
          class='focus:outline-none xl:text-5xl md:text-3xl text-xl text-center font-extrabold mb-5 pt-4'
        >
          Technical Skills &amp; Tools
        </h1>
      </div>
      <div class='xl:py-16 lg:py-16 md:py-16 py-8 px-15 flex flex-wrap'>
        {
          skills.map((skill) => (
            <div class='relative group w-4/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:pb-10 px-5 py-14 md:px-10 md:py-20 items-center'>
              {skill.icon && (
                <div class='absolute tooltip' data-tip={skill.name}>
                  <Icon
                    class='w-16 h-16 cursor-pointer hover:w-20 hover:h-20 transition-all duration-300 ease-in-out'
                    name={skill.icon}
                  />
                </div>
              )}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
