---
---

<div>
  <svg width="46.74" height="41.401" viewBox="0 0 46.74 41.401" xmlns="http://www.w3.org/2000/svg"
    ><g
      id="svgGroup"
      stroke-linecap="round"
      fill-rule="evenodd"
      font-size="9pt"
      stroke="#000000"
      stroke-width="0.25mm"
      fill="#fcd34d"
      style="stroke:#000000;stroke-width:0.25mm;fill:#fcd34d"
      ><path
        d="M 21.666 41.224 A 6.508 6.508 0 0 0 23.22 41.401 A 8.755 8.755 0 0 0 23.33 41.4 Q 25.474 41.373 26.82 40.291 Q 28.2 39.181 28.62 37.501 Q 29.1 35.821 29.19 33.721 Q 29.28 31.621 29.28 29.491 Q 29.28 27.361 29.37 25.591 A 18.835 18.835 0 0 1 29.455 24.503 Q 29.51 23.997 29.592 23.565 A 7.689 7.689 0 0 1 29.79 22.741 Q 30.12 21.661 30.96 21.661 A 2.478 2.478 0 0 1 31.36 21.691 Q 31.807 21.765 32.122 22.011 A 1.67 1.67 0 0 1 32.61 22.651 A 4.174 4.174 0 0 1 32.847 23.331 Q 32.956 23.753 33.009 24.257 A 9.852 9.852 0 0 1 33.06 25.291 A 25.245 25.245 0 0 1 33.014 26.786 A 32.08 32.08 0 0 1 32.82 28.861 Q 32.58 30.781 32.34 32.671 A 37.945 37.945 0 0 0 32.277 33.193 Q 32.19 33.964 32.146 34.654 A 21.091 21.091 0 0 0 32.1 36.001 A 12.623 12.623 0 0 0 32.102 36.217 Q 32.15 39.044 33.48 40.201 A 4.293 4.293 0 0 0 34.093 40.645 Q 34.809 41.073 35.731 41.259 A 7.755 7.755 0 0 0 37.26 41.401 A 4.963 4.963 0 0 0 39.787 40.721 A 6.43 6.43 0 0 0 41.22 39.571 Q 42.199 38.541 43.016 37.17 A 19.045 19.045 0 0 0 44.19 34.831 A 28.824 28.824 0 0 0 44.774 33.334 A 32.788 32.788 0 0 0 46.08 28.531 A 38.283 38.283 0 0 0 46.442 26.341 A 31.827 31.827 0 0 0 46.74 22.081 A 50.363 50.363 0 0 0 46.739 21.686 Q 46.715 18.738 46.346 16.118 A 30.379 30.379 0 0 0 45.06 10.591 A 21.572 21.572 0 0 0 43.425 6.888 A 15.545 15.545 0 0 0 40.17 2.821 Q 36.96 0.001 32.4 0.001 Q 29.64 0.001 27.78 1.231 Q 25.92 2.461 24.84 4.321 Q 23.76 6.181 23.34 8.101 A 11.564 11.564 0 0 0 22.99 6.847 A 13.27 13.27 0 0 0 21.81 4.321 Q 20.7 2.461 18.84 1.231 A 6.456 6.456 0 0 0 18.477 1.008 Q 17.474 0.435 16.217 0.188 A 10.666 10.666 0 0 0 14.16 0.001 A 13.546 13.546 0 0 0 12.42 0.109 A 10.509 10.509 0 0 0 7.92 1.741 A 13.504 13.504 0 0 0 6.281 3.012 A 15.003 15.003 0 0 0 3.51 6.421 A 20.836 20.836 0 0 0 2.377 8.584 A 24.332 24.332 0 0 0 0.87 13.081 Q 0 16.801 0 20.761 Q 0 24.001 0.6 27.601 A 39.543 39.543 0 0 0 0.939 29.382 A 33.889 33.889 0 0 0 2.37 34.291 A 22.302 22.302 0 0 0 2.46 34.523 Q 2.992 35.883 3.644 37.017 A 13.289 13.289 0 0 0 5.31 39.331 A 7.292 7.292 0 0 0 5.892 39.905 A 5.2 5.2 0 0 0 9.42 41.281 A 9.014 9.014 0 0 0 9.882 41.269 Q 11.896 41.166 13.11 40.141 A 2.791 2.791 0 0 0 13.388 39.871 Q 14.15 39.021 14.37 37.424 A 10.442 10.442 0 0 0 14.46 36.001 Q 14.46 35.101 14.366 34.025 A 34.648 34.648 0 0 0 14.22 32.671 Q 13.98 30.781 13.77 28.861 A 37.627 37.627 0 0 1 13.627 27.232 A 29.721 29.721 0 0 1 13.56 25.291 A 9.646 9.646 0 0 1 13.594 24.458 Q 13.638 23.952 13.738 23.525 A 4.195 4.195 0 0 1 14.04 22.651 Q 14.52 21.661 15.72 21.661 A 0.988 0.988 0 0 1 16.397 21.905 Q 16.566 22.054 16.69 22.294 A 2.343 2.343 0 0 1 16.86 22.741 A 5.965 5.965 0 0 1 16.867 22.765 Q 17.068 23.501 17.159 24.566 A 20.308 20.308 0 0 1 17.22 25.621 Q 17.261 26.839 17.26 28.209 A 98.523 98.523 0 0 1 17.25 29.551 Q 17.22 31.681 17.34 33.751 A 20.041 20.041 0 0 0 17.514 35.487 A 15.467 15.467 0 0 0 17.94 37.501 Q 18.42 39.181 19.77 40.291 A 4.708 4.708 0 0 0 21.666 41.224 Z"
        vector-effect="non-scaling-stroke"></path></g
    ></svg
  >
</div>
