---
import BaseHead from '@/components/shared/BaseHead.astro'

const { meta = {} } = Astro.props
---

<!doctype html>
<html lang='en' data-theme='dark'>
  <BaseHead {...meta} />
  <body>
    <div class='layout'>
      <slot />
    </div>
  </body>
</html>
