---
import BaseHead from '~/components/BaseHead.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <BaseHead {...meta} />
  <body>
    <div class="layout">
      <slot />
    </div>
  </body>
</html>
