---
import BaseLayout from '@/layouts/BaseLayout.astro'
import AppHeader from '@/components/shared/AppHeader.astro'
import AppFooter from '@/components/shared/AppFooter.astro'
import type { MetaSEO } from '@/types'

export interface Props {
  meta?: MetaSEO
}

const { meta } = Astro.props
---

<BaseLayout {meta}>
  <AppHeader />
  <main class='main'>
    <slot />
  </main>
  <AppFooter />
</BaseLayout>
