---
import BaseLayout from '~/layouts/BaseLayout.astro';
import AppHeader from '~/components/parts/AppHeader.astro';
import AppFooter from '~/components/parts/AppFooter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout>
  <AppHeader />
  <main class="main">
    <div class="container mx-auto">
      <slot />
    </div>
  </main>
  <AppFooter />
</BaseLayout>
